header {
    padding: 10%;
    background-image: url("homebackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 10vw;
    font-weight: 800;
    color: white;
    text-align: center;
}

main {
    padding: 2%;
    background-color: white;
}

h2{
    margin-bottom: 1%;
    font-size: 3.5vw;
    text-align: center;
}


p {
    font-size: 1.3vw;
    text-align: left;
}

footer {
    padding: 1%;
}

footer p {
    text-align: center;
    font-size: 1vw;
    background-color: #a7d9ff;
}

@media screen and (max-width: 800px) {
    p {
        font-size: 4vw;
     }
    footer p {
        font-size: 3vw;
    }
}