header {
    padding: 5%;
    background-image: url("../images/cakes.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 7vw;
    font-weight: 500;
    color: white;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    margin: 2%;
}

.card {
    margin: 2%;
}

.card img {
    height: 400px;
}

@media screen and (max-width: 800px) {
    main {
        flex-direction: column;
    }
}